<!doctype html>
<html>
<head>
<title>Test</title> 
<meta charset=utf-8> 
</head>
<body>
<form method="POST">
<select name="lang">
<option value="Davek,ru,false">Dwarvish</option>
<option value="Espruar,fi,false">Elvish</option>
<option value="Davek,af,false">Giant</option>
<option value="Davek,es,false">Gnomish</option>
<option value="Davek,tl,false">Goblin</option>
<option value="Thorass,el,false">Halfling</option>
<option value="Barazhad,de,true">Abyssal</option>
<option value="Celestial,fr,false">Celestial</option>
<option value="Iokharic,ca,false">Draconic</option>
<option value="Barazhad,de,false">Infernal</option>
<option value="Davek,sv,false">Primordial</option>
<option value="Espruar,hi,false">Sylvlan</option>
<option value="Espruar,ga,false">Undercommon</option>
</select>
<textarea name="text">
</textarea>
<input type="submit">
</form>
</body>
</html>
